In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('C:/Users/xiaofeng.li.AFTG/Downloads/AI-Data.csv')
data.head()

,Year,Month,Reseller,Licensee,Brand,Currency,GameProvider,Game,GameID,PlayerType,...,PlayerID,Rounds,BetAmount,Turnover,Valid Bet,Company Win Loss,Jackpot Contribution,ReturnAmount,Company Win/Loss %,Platform
0,2017,10,ALLBET,ALLBET,17bet,RMB,Red Tiger,Three Kingdoms,709609C2-BBCB-4457-9B89-230F416EDF3A,1,...,4A953EAF-670B-42D9-9C2D-73E21225396E,15,30.0,30.0,30.0,2.0,0.0,28.0,6.6666,Desktop
1,2017,10,ALLBET,ALLBET,17bet,RMB,Sunbet,Baccarat 3,CC7DED0B-3022-4E9C-83B1-8BC3629A37F6,1,...,4A953EAF-670B-42D9-9C2D-73E21225396E,1,50.0,50.0,0.0,0.0,0.0,0.0,0.0000,Mobile
2,2017,10,ALLBET,ALLBET,63SALON,RMB,Sunbet,Super Baccarat 3,0E08A4AF-6911-482A-BD52-1671D1576ED5,1,...,DF76549B-653E-43BB-8D4E-C01BDBE58549,10,1830.0,1830.0,1210.0,645.0,0.0,565.0,35.2459,Desktop
3,2017,10,ALLBET,ALLBET,63SALON,RMB,Sunbet,Bid Baccarat,98A12FDC-2D30-45CB-8A69-3A525418008D,1,...,DF76549B-653E-43BB-8D4E-C01BDBE58549,3,160.0,160.0,160.0,160.0,0.0,0.0,100.0000,Desktop
4,2017,10,ALLBET,ALLBET,63SALON,RMB,Sunbet,Baccarat 5,BAAD5075-2113-4672-B824-44EE43340F70,1,...,DF76549B-653E-43BB-8D4E-C01BDBE58549,8,390.0,390.0,390.0,-67.0,0.0,457.0,-17.1794,Desktop

In [4]:
data=data[['GameID','PlayerID','BetAmount']]
data.head()

,GameID,PlayerID,BetAmount
0,709609C2-BBCB-4457-9B89-230F416EDF3A,4A953EAF-670B-42D9-9C2D-73E21225396E,30.0
1,CC7DED0B-3022-4E9C-83B1-8BC3629A37F6,4A953EAF-670B-42D9-9C2D-73E21225396E,50.0
2,0E08A4AF-6911-482A-BD52-1671D1576ED5,DF76549B-653E-43BB-8D4E-C01BDBE58549,1830.0
3,98A12FDC-2D30-45CB-8A69-3A525418008D,DF76549B-653E-43BB-8D4E-C01BDBE58549,160.0
4,BAAD5075-2113-4672-B824-44EE43340F70,DF76549B-653E-43BB-8D4E-C01BDBE58549,390.0

In [5]:
user_sum=data.groupby(['PlayerID'])['BetAmount'].sum()
user_sum.head()

PlayerID
00003D0D-AED1-416B-ADA7-F9AE553C0174       5.0
00004571-AEAA-4AA5-83FD-8D06BEC36F6F     151.0
0000546A-64BB-4608-8192-C575CA26B399      85.0
00009909-B142-43EB-8D98-DA096E70BC26     215.0
0001339B-2D0F-4126-82F9-C7218A712D5C    4752.0
Name: BetAmount, dtype: float64

In [6]:
data_group=data.groupby(['PlayerID','GameID'])['BetAmount'].sum()
data_group.head()

PlayerID                              GameID
00003D0D-AED1-416B-ADA7-F9AE553C0174  FAA120F5-5E93-45E5-A2B3-06FC7FD0CB1E     5.0
00004571-AEAA-4AA5-83FD-8D06BEC36F6F  108A123D-D323-4E16-8913-DE00A0589D9B    35.0
                                      156399C4-4A71-4D98-9576-B85B4862102D    42.0
                                      FAA120F5-5E93-45E5-A2B3-06FC7FD0CB1E    74.0
0000546A-64BB-4608-8192-C575CA26B399  2B911BCA-76EA-42E2-9CDB-B5CBB61C310D    85.0
Name: BetAmount, dtype: float64

In [7]:
rating=pd.DataFrame(index=range(0,data_group.size),columns=['userID','subgameID','rating'])
rating.head()

  userID subgameID rating
0    NaN       NaN    NaN
1    NaN       NaN    NaN
2    NaN       NaN    NaN
3    NaN       NaN    NaN
4    NaN       NaN    NaN

In [ ]:
for i in range(0,len(rating.index)):
    rating.iloc[i,0]=data_group.index[i][0]
    rating.iloc[i,1]=data_group.index[i][1]
    rating.iloc[i,2]=(data_group.iloc[i]/user_sum.get(data_group.index[i][0]))*10
rating.head()

In [ ]:
rating.to_csv('rating.csv')